<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Home - The Meow-sic Vet</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="icon" href="images/fav.jpg">
    </head>
  
    <body>
      <div class="body">
  
        <!-- HEADER -->
        <div class="header">
      <%- include('header') %>
    </div>
    <!-- Content for Home page goes here -->
     <!-- SIDE MENU -->
     <div class="sideMenu">
        <p>Quicks Links</p>
        <a href="/">Home</a>
        <a href="/pets">Browse Available Pets</a>
        <a href="/find">Find a Dog/Cat</a>
        <a href="/dog">Dog Care</a>
        <a href="/cat">Cat Care</a>
        <a href="/give">Have a pet to give away?</a>
        <a href="/contact">Contact Us</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
      </div>
        <!-- CONTENT -->
        <div class="content">
            <p class="contentHeader">Contact Information: </p>
            <p class="contentText">
              If you have any questions, don't hesitate to contact The Meow-sic Vet using the links provided below.<br><br> We're here to help you with any issues you may encounter.
            </p>
            <ul class="contentList">
              <li>Name: Neelendra Mishra</li>
              <li>Student ID: 40224310</li>
              <li>Email: <a href="mailto:neelendramishra1208@gmail.com">neelendramishra1208@gmail.com</a></li>
              <li>Address: 1455 Blvd. De Maisonneuve Ouest, Montreal, Quebec H3G 1M8</li>
              
            </ul>
          </div>
          
          <!-- FOOTER -->
      <div class="footer">
        <%- include('footer') %>
      </div>
    </div>
    <script src="/js/_script.js"></script>
  </body>
  </html>