<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Home - The Meow-sic Vet</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="icon" href="images/fav.jpg">
    </head>
  
    <body>
      <div class="body">
  
        <!-- HEADER -->
        <div class="header">
      <%- include('header') %>
    </div>
    <!-- Content for Home page goes here -->
     <!-- SIDE MENU -->
     <div class="sideMenu">
        <p>Quicks Links</p>
        <a href="/">Home</a>
        <a href="/pets">Browse Available Pets</a>
        <a href="/find">Find a Dog/Cat</a>
        <a href="/dog">Dog Care</a>
        <a href="/cat">Cat Care</a>
        <a href="/give">Have a pet to give away?</a>
        <a href="/contact">Contact Us</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
      </div>
        <!-- CONTENT -->
        <div class="content">
            <p class="contentHeader">Privacy Disclaimer</p>
            <p class="contentText">
              At The Meow-sic Vet, we prioritize your privacy and accuracy.<br>
              <br> Rest assured, your information is secure and will not be sold or misused.
            </p>
          </div>
          
          <!-- FOOTER -->
      <div class="footer">
        <%- include('footer') %>
      </div>
    </div>
    <script src="/js/_script.js"></script>
  </body>
  </html>