<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Home - The Meow-sic Vet</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="icon" href="images/fav.jpg">
    </head>
  
    <body>
      <div class="body">
  
        <!-- HEADER -->
        <div class="header">
      <%- include('header') %>
    </div>
    <!-- Content for Home page goes here -->
     <!-- SIDE MENU -->
     <div class="sideMenu">
        <p>Quicks Links</p>
        <a href="/">Home</a>
        <a href="/pets">Browse Available Pets</a>
        <a href="/find">Find a Dog/Cat</a>
        <a href="/dog">Dog Care</a>
        <a href="/cat">Cat Care</a>
        <a href="/give">Have a pet to give away?</a>
        <a href="/contact">Contact Us</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
      </div>
        <!-- CONTENT -->
        <div class="content">
            <p class="contentHeader">Nurturing a Dog</p>
            <img class="contentImageFloatRight" src="images/dog-page.jpg">
            <p class="contentText">
              Explore these essential steps, recommended by our professional doctors, for successfully raising your new companion!
            </p>
            <ul class="contentList">
              <li>Monitor food consumption</li>
              <li>Provide sufficient water throughout the day</li>
              <li>Regularly groom your dog</li>
              <li>Look for solutions for flea, tick and heartworm prevention</li>
              <li>Train and Bond with Your Dog to Strengthen Your Relationship</li>
              <li>Steer clear of toxic algae</li>
              <li>Plan for Unexpected Vet Bills with Pet Insurance. Don't worry we got you for this &#128521</li>
              <!-- Thnaks to the link for the detailed information -->
              <li><a href="https://www.forbes.com/advisor/ca/pet-insurance/dog-care-tips/">Click <i>here</i> to discover more expert advice.</a></li>
            </ul>
          </div>
    
          <!-- FOOTER -->
      <div class="footer">
        <%- include('footer') %>
      </div>
    </div>
    <script src="/js/_script.js"></script>
  </body>
  </html>