<header>
    <table>
      <tr>
        <td><a href="/"><img class="headerImage" src="images/top-left-image.jpg" width="210"></a></td>
        <td class="headerTitle" id="headerText">The Meow-sic Vet</td>
      </tr>
    </table>
    <p class="headerSubtitle headerDateTime"></p>
  </header>