<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Home - The Meow-sic Vet</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/style.css">
      <link rel="icon" href="images/fav.jpg">
    </head>
  
    <body>
      <div class="body">
  
        <!-- HEADER -->
        <div class="header">
      <%- include('header') %>
    </div>
    <!-- Content for Home page goes here -->
     <!-- SIDE MENU -->
     <div class="sideMenu">
        <p>Quicks Links</p>
        <a href="/">Home</a>
        <a href="/pets">Browse Available Pets</a>
        <a href="/find">Find a Dog/Cat</a>
        <a href="/dog">Dog Care</a>
        <a href="/cat">Cat Care</a>
        <a href="/give">Have a pet to give away?</a>
        <a href="/contact">Contact Us</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>

      </div>
<!--COPY 1 UP-->
      <!-- CONTENT -->
      <div class="content">
        <p class="contentHeader">Greetings, from The Meow-sic Vet!</p>
        <img class="contentImageFloatRight" src="images/home-page-image.jpg">
        <p class="contentText">
          Welcome to The Meow-sic Vet!, where Your pet is part of the family, and that’s why we strive to provide the best care to keep your animal healthy. 
        </p>

        <p class="contentText">
              A Veterinarian like no other in your Town. Discover extraordinary care at The Meow-sic Vet!, where we prioritize your pet's well-being above all else.<br>
               Our dedicated team combines expertise with compassion to ensure every visit is met with tailored attention and effective solutions.<br><br>
                Join us and experience why discerning pet owners choose The Meow-sic Vet! for top-notch veterinary services that exceed expectations.
        </p>
 
      </div>
      <!--COPY2-->
    <div class="footer">
      <%- include('footer') %>
    </div>
  </div>
  <script src="/js/_script.js"></script>
</body>
</html>
